.container--0- {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 1920px;
  height: 5503.5px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.container-0-1-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 5503.5px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.container-1-2-0 {
  position: absolute;
  left: -96.55000305175781px;
  top: 3.5px;
  width: 86.55000305175781px;
  height: 23px;
  opacity: 1;
  background-color: #222222cc;
  backdrop-filter: blur(10px);
  justify-content: start;
  align-items: start;
  border-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-2-3-1 {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 14px;
  height: 14px;
  justify-content: start;
  align-items: start;
}
.container-3-4-0 {
  position: absolute;
  left: 0px;
  top: -2px;
  width: 12px;
  height: 20px;
  justify-content: start;
  align-items: start;
}
.container-4-5-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 97px;
  height: 10px;
  justify-content: start;
  align-items: start;
}
.text-2-3-2 {
  width: 41.09000015258789px;
  height: 15px;
  color: #999999;
  font-size: 14.300000190734863px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.container-2-3-3 {
  position: absolute;
  left: 376.25px;
  top: 323.5px;
  width: 207.5px;
  height: 30px;
  justify-content: start;
  align-items: start;
}
.text-4-5-0 {
  width: 34.310001373291016px;
  height: 16.799999237060547px;
  color: #ffffff;
  font-size: 13.800000190734863px;
  font-family: Inter, "Semi Bold";
  font-weight: 600;
  text-align: left;
  vertical-align: center;
}
.container-3-4-1 {
  position: absolute;
  left: 22px;
  top: 3px;
  width: 97px;
  height: 10px;
  justify-content: start;
  align-items: start;
}
.container-1-2-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  background-color: #222222cc;
  backdrop-filter: blur(10px);
  justify-content: start;
  align-items: start;
  border-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.container-2-3-0 {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 138px;
  height: 36px;
  background-color: #ffffff;
  box-shadow: 0px 10px 26px -4.5 #000000,
    0px 2.288530111312866px 5.95019006729126px -3 #000000,
    0px 0.6021869778633118px 1.565690040588379px -1.5 #000000;
  justify-content: start;
  align-items: start;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container-1-2-2 {
  position: absolute;
  left: 959px;
  top: 591px;
  width: 2px;
  height: 1px;
  justify-content: start;
  align-items: start;
}
.container-1-2-3 {
  position: absolute;
  left: 480px;
  top: 592px;
  width: 960px;
  height: 773px;
  justify-content: start;
  align-items: start;
}
.text-3-4-1 {
  width: 37.87424850463867px;
  height: 16px;
  color: #faf0f0;
  font-size: 13px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.container-3-4-2 {
  position: absolute;
  left: 797px;
  top: 77px;
  width: 48px;
  height: 40px;
  justify-content: start;
  align-items: start;
}
.text-3-4-2 {
  width: 110.9800033569336px;
  height: 22px;
  color: #ffffff;
  font-size: 20.799999237060547px;
  font-family: Inter, "Semi Bold";
  font-weight: 600;
  text-align: center;
  vertical-align: center;
}
.container-1-2-4 {
  position: absolute;
  left: 660px;
  top: 1465px;
  width: 600px;
  height: 160px;
  justify-content: start;
  align-items: start;
}
.text-2-3-0 {
  width: 51.11000061035156px;
  height: 15px;
  color: #000000;
  font-size: 14.5px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.text-2-3-1 {
  width: 71.7280502319336px;
  height: 15px;
  color: #ffffff;
  font-size: 12px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: center;
}
.text-1-2-5 {
  width: 68.19451141357422px;
  height: 21px;
  color: #999999;
  font-size: 15px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.container-1-2-6 {
  position: absolute;
  left: 480px;
  top: 1766px;
  width: 960px;
  height: 644px;
  justify-content: start;
  align-items: start;
}
.text-4-5-1 {
  width: 131.1199951171875px;
  height: 32px;
  color: #000000;
  font-size: 32px;
  font-family: Inter, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: center;
}
.container-4-5-2 {
  position: absolute;
  left: 20px;
  top: 107px;
  width: 260px;
  height: 153px;
  justify-content: start;
  align-items: start;
}
.container-5-6-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 97px;
  height: 10px;
  justify-content: start;
  align-items: start;
}
.container-6-7-0 {
  position: absolute;
  left: 0px;
  top: -0.5px;
  width: 256px;
  height: 17px;
  justify-content: start;
  align-items: start;
}
.container-7-8-0 {
  position: absolute;
  left: 3px;
  top: 5px;
  width: 10px;
  height: 7px;
  justify-content: start;
  align-items: start;
}
.container-8-9-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 7px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.text-6-7-1 {
  width: 95.51000213623047px;
  height: 19.5px;
  color: #777777;
  font-size: 14.5px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: center;
}
.container-5-6-1 {
  position: absolute;
  left: 0px;
  top: 24.5px;
  width: 267px;
  height: 19.5px;
  justify-content: start;
  align-items: start;
}
.container-5-6-2 {
  position: absolute;
  left: 0px;
  top: 49px;
  width: 267px;
  height: 19.5px;
  justify-content: start;
  align-items: start;
}
.container-4-5-3 {
  position: absolute;
  left: 20px;
  top: 280px;
  width: 260px;
  height: 40px;
  background-color: #000000;
  justify-content: start;
  align-items: start;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.text-5-6-0 {
  width: 57.42515563964844px;
  height: 16px;
  color: #222222;
  font-size: 13px;
  font-family: Inter, "Semi Bold";
  font-weight: 600;
  text-align: center;
  vertical-align: center;
}
.container-1-2-7 {
  position: absolute;
  left: 480px;
  top: 2410px;
  width: 960px;
  height: 700px;
  background-color: #616f7826;
  box-shadow: 0px 1px 2px 0 #000000;
  justify-content: start;
  align-items: start;
}
.container-4-5-1 {
  position: absolute;
  left: 0px;
  top: 24.40999984741211px;
  width: 280px;
  height: 120px;
  background-color: #eeeeee;
  justify-content: start;
  align-items: start;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.text-7-8-0 {
  width: 120.49610900878906px;
  height: 17px;
  color: #999999;
  font-size: 14px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: center;
}
.text-6-7-0 {
  width: 108.9581069946289px;
  height: 16.799999237060547px;
  color: #999999;
  font-size: 14px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: center;
}
.container-3-4-3 {
  position: absolute;
  left: 0px;
  top: 333.2200012207031px;
  width: 280px;
  height: 40px;
  background-color: #000000;
  justify-content: start;
  align-items: start;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container-1-2-8 {
  position: absolute;
  left: 939px;
  top: 3400px;
  width: 42px;
  height: 42px;
  justify-content: start;
  align-items: start;
}
.container-1-2-9 {
  position: absolute;
  left: 537.5px;
  top: 3442px;
  width: 845px;
  height: 1084.5px;
  justify-content: start;
  align-items: start;
}
.text-3-4-0 {
  width: 51.560001373291016px;
  height: 14px;
  color: #ffffff;
  font-size: 13.699999809265137px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: center;
}
.text-2-3-3 {
  width: 58.720001220703125px;
  height: 15px;
  color: #999999;
  font-size: 14.399999618530273px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.text-2-3-4 {
  width: 66.04000091552734px;
  height: 15px;
  color: #000000;
  font-size: 14.600000381469727px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.text-2-3-5 {
  width: 110.68000030517578px;
  height: 15px;
  color: #999999;
  font-size: 14.300000190734863px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.text-2-3-6 {
  width: 58.529998779296875px;
  height: 15px;
  color: #999999;
  font-size: 14.300000190734863px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.text-2-3-7 {
  width: 77.66999816894531px;
  height: 15px;
  color: #999999;
  font-size: 14.600000381469727px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.text-2-3-8 {
  width: 42.20000076293945px;
  height: 15px;
  color: #000000;
  font-size: 14.899999618530273px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.text-2-3-9 {
  width: 69.01000213623047px;
  height: 15px;
  color: #999999;
  font-size: 14.600000381469727px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.text-2-3-10 {
  width: 72.08000183105469px;
  height: 15px;
  color: #999999;
  font-size: 14.600000381469727px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.container-1-2-10 {
  position: absolute;
  left: 940px;
  top: 5126.5px;
  width: 40px;
  height: 40px;
  justify-content: start;
  align-items: start;
}
.text-1-2-11 {
  width: 530.8599853515625px;
  height: 103px;
  color: #000000;
  font-size: 30.799999237060547px;
  font-family: Inter, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: center;
}
.text-1-2-12 {
  width: 38.78709030151367px;
  height: 21px;
  color: #999999;
  font-size: 15px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: center;
}
.container-1-2-13 {
  position: absolute;
  left: 480px;
  top: 0px;
  width: 960px;
  height: 64px;
  justify-content: start;
  align-items: start;
}
.container-2-3-4 {
  position: absolute;
  left: 360.05999755859375px;
  top: 17px;
  width: 509.5799865722656px;
  height: 30px;
  justify-content: start;
  align-items: start;
}
.container-2-3-5 {
  position: absolute;
  left: 884.6400146484375px;
  top: 17px;
  width: 75.36000061035156px;
  height: 30px;
  background-color: #000000;
  justify-content: start;
  align-items: start;
  border-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.container-1-2-14 {
  position: absolute;
  left: 480px;
  top: 3110px;
  width: 960px;
  height: 290px;
  justify-content: start;
  align-items: start;
}
.text-2-3-11 {
  width: 67.37000274658203px;
  height: 15px;
  color: #999999;
  font-size: 14.5px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.text-2-3-12 {
  width: 78.12000274658203px;
  height: 15px;
  color: #000000;
  font-size: 14.300000190734863px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.text-2-3-13 {
  width: 46.95000076293945px;
  height: 15px;
  color: #999999;
  font-size: 14.399999618530273px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.text-2-3-14 {
  width: 54.560001373291016px;
  height: 15px;
  color: #999999;
  font-size: 14.5px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.text-2-3-15 {
  width: 39.47999954223633px;
  height: 15px;
  color: #999999;
  font-size: 14.5px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.container-1-2-15 {
  position: absolute;
  left: 480px;
  top: 4526.5px;
  width: 960px;
  height: 600px;
  justify-content: start;
  align-items: start;
}
.container-2-3-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 38px;
  justify-content: start;
  align-items: start;
}
.container-0-1-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1200px;
  justify-content: start;
  align-items: start;
}
.text-4-5-2 {
  width: 59.19065475463867px;
  height: 16px;
  color: #ffffff;
  font-size: 13px;
  font-family: Inter, "Semi Bold";
  font-weight: 600;
  text-align: center;
  vertical-align: center;
}
.text-4-5-3 {
  width: 140.84954833984375px;
  height: 52.369998931884766px;
  color: #999999;
  font-size: 13px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: center;
}
.container-4-5-4 {
  position: absolute;
  left: 195px;
  top: 15px;
  width: 10px;
  height: 10px;
  justify-content: start;
  align-items: start;
}
.container-4-5-5 {
  position: absolute;
  left: 10px;
  top: 166.16000366210938px;
  width: 95px;
  height: 30px;
  background-color: #ffffff26;
  justify-content: start;
  align-items: start;
  border-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-4-5-6 {
  position: absolute;
  left: 115px;
  top: 166.16000366210938px;
  width: 95px;
  height: 30px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
  border-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-0-1-2 {
  position: absolute;
  left: 0px;
  top: 1122px;
  width: 1920px;
  height: 78px;
  justify-content: start;
  align-items: start;
}
.container-0-1-3 {
  position: absolute;
  left: 1880px;
  top: 585px;
  width: 30px;
  height: 30px;
  justify-content: start;
  align-items: start;
}